<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/libs/socket/socket.io.dev.js"></script>
    <script>
      var socket = io();
      socket.on("message", function(msg) {
        console.log(msg);
      })
      function go() {
        return socket.emit('message', {type: "test"});
      }
      
    </script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
